.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  flex-basis: 100%;

  /* width: 100%; */
}

.notes-area-height {
  min-height: 200px;
  max-height: max-content;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    flex-basis: 50%;

    /* width: 50%; */
  }

  .notes-area-height {
    min-height: 120px;
    max-height: max-content;
  }
}
